<!-- side nave -->
<ng-container>
  <!-- top toolbar -->
  <mat-toolbar class="header" *ngIf="isLoggedIn">
    <button mat-button (click)="sidenav.toggle()">
      <fa-icon [icon]="faBars" class="fa-xl"> </fa-icon> &nbsp; Menu
    </button>
    <span class="spacer"></span>

    <img src="assets/imgs/CSite-logo.svg" />
  </mat-toolbar>

  <!-- side nav -->
  <mat-sidenav-container class="container">
    <mat-sidenav
      #sidenav
      mode="side"
      [opened]="isLoggedIn"
      class="sidenav"
      [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom"
    >
      <button mat-button [routerLink]="'/dashboard'">
        <fa-icon [icon]="faHome" class="fa-xl"> </fa-icon>
        Dashboard
      </button>
      <button mat-button [routerLink]="'/products'">
        <fa-icon [icon]="faCar" class="fa-xl"> </fa-icon>
        Products
      </button>
      <button mat-button [routerLink]="'/orders'">
        <fa-icon [icon]="faCartShopping" class="fa-xl"> </fa-icon>
        Orders
      </button>
      <button mat-button [routerLink]="'/users'">
        <fa-icon [icon]="faUser" class="fa-xl"> </fa-icon>
        User management
      </button>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <!-- main content  -->
      <router-outlet
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate()"
      ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <p class="footer" *ngIf="isLoggedIn">
    ©2022 designed by Amin NOROLLAH - Balrug.
  </p>
</ng-container>
